Package: race-od
Version: 
Description: RetroGame port of Race-OD
Section: emus
Priority: optional
Maintainer: pingflood
Architecture: mipsel
Homepage: https://github.com/pingflood/race-od
Depends:
Source: https://github.com/pingflood/race-od
