[Desktop Entry]
Name=Neo Geo Pocket
Comment=Race-OD Emulator
Exec=race-od.dge %f
Icon=race-od
Categories=emulators.systems;
X-OD-Manual=race-od.man.txt
X-OD-Filter=.ngp,.npc,.ngc
Terminal=false
Type=Application
StartupNotify=true
